{% extends "admin.html" %}

{% block content %}
<form action="/addItem" method="POST" enctype="multipart/form-data">
    <div class="row" style="padding-top:80px;padding-bottom:40px">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="pwd">Name:</label>
                <input type="text" class="form-control" data-validation="required" name="name">
            </div>
            <div class="form-group">
                <label for="pwd">SKU:</label>
                <input type="text" class="form-control" data-validation="required" name="sku">
            </div>

            <div class="form-group">
                <label for="pwd">Description</label>
                <input type="text" class="form-control" data-validation="required" name="description">
            </div>

        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="pwd">Image:</label>
                <input type="file" class="form-control" data-validation="required" name="image">
            </div>

            <div class="form-group">
                <label for="pwd">Category:</label>
                <select name="category" class="form-control" data-validation="required">
                    {% for row in categories %}
                    <option value="{{row[0]}}">{{row[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group hidden"  style="display:none">
                <label for="pwd">Sub Category:</label>
                <select name="subcategory" class="form-control" data-validation="required">
                    {% for row in categories %}
                    <option value="{{row[0]}}">{{row[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="pwd">Price:</label>
                <input type="text" class="form-control" data-validation=" required" name="price">
            </div>
            <div class="form-group">
                <label for="pwd">Country:</label>
                <select name="country" class="form-control" data-validation=" required">
                    {% for con in countries %}
                    <option value="{{con[0]}}">{{con[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="pwd">Price:</label>
                <input type="text" class="form-control" data-validation=" required" name="price1">
            </div>
            <div class="form-group">
                <label for="pwd">Country:</label>
                <select name="country1" class="form-control" data-validation=" required">
                    {% for con in countries %}
                    <option value="{{con[0]}}">{{con[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="pwd">Price:</label>
                <input type="text" class="form-control" data-validation=" required" name="price2">
            </div>
            <div class="form-group">
                <label for="pwd">Country:</label>
                <select name="country2" class="form-control" data-validation=" required">
                    {% for con in countries %}
                    <option value="{{con[0]}}">{{con[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
</form>

{% endblock %}


{% block scripts %}
<script>
    $.validate();
</script>
{% endblock %}